<div class="formCreate">
  <h2>Добавить запись</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
    <div class="form-item">
      <label for="name">Имя:</label>
      <input id="name" type="text" formControlName="name" class="form-input">
    </div>

    <div class="form-item">
      <label for="mail">Почта:</label>
      <input id="mail" type="text" formControlName="mail" class="form-input">
    </div>

    <div class="form-item">
      <label for="date">Дата в формате mm/dd/yy:</label>
      <input id="date" type="text" formControlName="date" class="form-input">
    </div>

    <div class="form-item">
      <label for="file">Выберите файл:</label>
      <input type="file" (change)="onFileChange($event)" class="form-file">
    </div>

    <button class="form-button" type="submit">Добавить</button>
  </form>
</div>